<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <hr>
        <h1><%= title %></h1>
    <hr>
    
    <main id="contenedor-get">
        <div id="productos-container">
            <ul id="productos-lista">
                
                <% products.forEach(prod => {  %>
                     <li class="productos-listados">
                    <img src="<%= prod.imagen %>" alt="<%= prod.nombre %>">
                    <div class="info-producto">
                        <p><strong>Id:</strong> <%= prod.id %></p>
                        <p><strong>Categoría:</strong> <%= prod.tipo %></p>
                        <p><strong>Nombre:</strong> <%= prod.nombre %></p>
                        <p><strong>Precio:</strong> $<%= prod.precio %></p>
                    </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </main>

<%- include("partials/footer.ejs") %>